{% extends 'base.html.twig' %}

{% block title %}
  Profile
{% endblock %}
{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('profile') }}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('profile') }}
{% endblock %}

{% block body %}
  <style>
    {% include 'profile/css.css' %}
  </style>

  <div id="profile_modal" class="main main-raised">
    <div class="profile-content">
      <div class="container">
        <div class="row">
          <div class="ml-auto mr-auto">
            <div class="profile text-center">
              {% if user.profile.userAvatar.avatarName is not defined %}
                <div class="avatar">
                  <img src="{{ asset('images/avatar.jpg') }}"
                    alt="default Avatar"
                    width="200"
                    class="img-raised rounded-circle img-fluid" />
                </div>
              {% else %}
                <button class="border-0 bg-white">
                  <div class="image-cropper">
                    <img src="/images/userAvatar/{{
                      user.profile.userAvatar.avatarName
                      }}"
                      alt="user Avatar"
                      class="img-rounded img-raised" />
                  </div>
                </button>
              {% endif %}
              <div class="name">
                <h3 class="title">
                  {{ user.profile.fullName
                    ? user.profile.fullName
                    : user.username }}
                </h3>
                <h6>
                  {{ user.email }}
                </h6>
                {% if user.profile.facebookUrl %}
                  <a href="{{ user.profile.facebookUrl }}"
                    target="_blank"
                    class="btn btn-just-icon btn-link btn-instagram">
                    <i class="fa fa-facebook"></i>
                  </a>
                {% else %}
                  <span class="btn btn-just-icon btn-link btn-instagram">
                    <i class="fa fa-facebook"></i>
                  </span>
                {% endif %}
                {% if user.profile.twitterUrl %}
                  <a href="{{ user.profile.twitterUrl }}"
                    target="_blank"
                    class="btn btn-just-icon btn-link btn-instagram">
                    <i class="fa fa-twitter"></i>
                  </a>
                {% else %}
                  <span class="btn btn-just-icon btn-link btn-instagram">
                    <i class="fa fa-twitter"></i>
                  </span>
                {% endif %}
                {% if user.profile.instagramUrl %}
                  <a href="{{ user.profile.instagramUrl }}"
                    target="_blank"
                    class="btn btn-just-icon btn-link btn-instagram">
                    <i class="fa fa-instagram"></i>
                  </a>
                {% else %}
                  <span class="btn btn-just-icon btn-link btn-instagram">
                    <i class="fa fa-instagram"></i>
                  </span>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        <div class="row description text-center">
          <p>
            {{ user.profile.about
              ? user.profile.about
              : 'Write some words about you' }}
          </p>
        </div>
        <div class="row text-center ml-auto mr-auto">
          <ul class="nav nav-pills nav-pills-icons justify-content-center">
            <li class="nav-item">
              <span id="blog_post" class="nav-link active">
                <i class="material-icons">description</i>
                BLOG
              </span>
            </li>
            <li class="nav-item">
              <span id="followers" class="nav-link">
                <i class="material-icons">favorite</i>
                FOLLOWERS
              </span>
            </li>
            <li class="nav-item">
              <span id="edit_profile" class="nav-link">
                <i class="material-icons">edit</i>
                EDIT
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div id="edit_modal" class="main main-raised d-none">
    <div class="row">
      {{ form_start(formProfile) }}
      <div class="p-5 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="text-right">
            Profile Edit
          </h4>
        </div>
        <div class="row mt-2">
          <div class="col-md-12">
            {{ form_widget(formProfile.userAvatar, {'attr': {'class': 'form-control'}}) }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label class="labels">Full Name</label>
            {{ form_widget(formProfile.fullName) }}
          </div>
          <div class="col-md-4">
            <label class="labels">Username</label>
            <input type="text"
              class="form-control"
              name="username"
              value="{{ user.username }}" />
          </div>
          <div class="col-md-4">
            <label class="labels">Email Address</label>
            <input type="email"
              class="form-control"
              name="email"
              value="{{ user.email }}" />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-4">
            <label class="labels">Facebook</label>
            {{ form_widget(formProfile.facebookUrl) }}
          </div>
          <div class="col-md-4">
            <label class="labels">Twitter</label>
            {{ form_widget(formProfile.twitterUrl) }}
          </div>
          <div class="col-md-4">
            <label class="labels">Instagram</label>
            {{ form_widget(formProfile.instagramUrl) }}
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">
            <label class="labels">About</label>
            {{ form_widget(formProfile.about) }}
          </div>
        </div>
        <div class="mt-5 text-center">
          {{ form_widget(formProfile.submit) }}
        </div>
      </div>
      {{ form_end(formProfile) }}
    </div>
  </div>
{% endblock %}
