{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('book') }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('book') }}
{% endblock %}

{% block body %}
  <div>
    <section class="py-5">
      <div class="container px-5">
        <h1 class="fw-bolder fs-5 mb-4">
          Book Details
        </h1>
        <div class="card border-0 shadow rounded-3 overflow-hidden">
          <div class="card-body p-0">
            <div class="row gx-0">
              <div class="col-lg-6 col-xl-5 py-lg-5">
                <div class="p-4 p-md-5">
                  {% for genre in book.genre %}
                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">
                      {{ genre }}
                    </div>
                  {% endfor %}
                  <div style="float:right" class="text-muted">
                    {{ book.datePublished|date('d/m/Y') }}
                  </div>

                  <div class="h2 fw-bolder">
                    {{ book.title }}
                  </div>
                  <div class="h6 fw-bolder">
                    by {{ book.author }}
                  </div>
                  <p>
                    {{ book.description|raw }}
                  </p>
                  <a class="text-decoration-none" href="#!">
                    Read more
                    <i class="bi bi-arrow-right"></i>
                  </a>
                  <div class="mt-5 d-flex align-items-center">
                    {{
                      include(
                        'book/rating.html.twig',
                        {
                          book: book
                        }
                      )
                    }}

                    <a style="width:250px"
                      class="add-to-cart text-decoration-none btn {{
                      app.session.get('cart')[book.id] is defined
                        ? 'btn-outline-primary'
                        : 'btn-primary'
                      }}"
                      href="{{
                      app.session.get('cart')[book.id] is defined
                        ? path('cart')
                        : path(
                          'cart_increase_quantity',
                          {
                            id: book.id
                          }
                        )
                      }}">
                      {{ app.session.get('cart')[book.id] is defined
                        ? 'In Cart'
                        : 'Add to Cart' }}
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-xl-7">
                <div class="bg-featured-blog"
                  style="background-image: url(/images/books/{{
                  book.imageName
                  }})"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {{
      include(
        'comments/index.html.twig',
        {
          book: book
        }
      )
    }}
  </div>
{% endblock %}
