{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('book') }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('book') }}
{% endblock %}

{% block body %}
  <!-- Filter section -->
  <section class="py-3">
    {{ form_start(formSearch) }}
    <div class="d-flex align-items-center justify-content-center">
      <div class="mx-2">
        {{ form_widget(formSearch.minPrice) }}
      </div>
      <div class="mx-2">
        {{ form_widget(formSearch.maxPrice) }}
      </div>
      <div class="mx-2">
        {{ form_widget(formSearch.title) }}
      </div>
      <div class="mx-2">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </div>
    {{ form_end(formSearch) }}
  </section>
  <!-- Blog preview section -->
  <section class="py-3">
    <div class="container px-5">
      <h2 class="fw-bolder fs-5 mb-4">
        Book List
      </h2>
      <div class="row gx-5">
        {% for idx, book in books|reverse %}
          <div class="col-lg-3 mb-5">
            <div class="product-grid h-100">
              <div class="product-image">
                <div class="image">
                  <img class="pic-1"
                    style="height:400px"
                    src="/images/books/{{ book.imageName }}" />
                  <div class="image-opacity" style="height:400px"></div>
                </div>
                <ul class="product-links">
                  <li>
                    <a href="#" data-tip="Add to Wishlist">
                      <i class="bi bi-suit-heart-fill"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#" data-tip="Compare">
                      <i class="bi bi-shuffle"></i>
                    </a>
                  </li>
                  <li>
                    <a href="/Book/{{ book.id }}" data-tip="view details">
                      <i class="bi bi-search"></i>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="product-content">
                <ul class="rating d-flex justify-content-center align-content-center">
                  <li class="bi bi-star-fill"></li>
                  <li class="bi bi-star-fill"></li>
                  <li class="bi bi-star-fill"></li>
                  <li class="bi bi-star"></li>
                  <li class="bi bi-star"></li>
                </ul>
                <h3 class="title">
                  <a href="/Book/{{ book.id }}" class="text-decoration-none">
                    {{ book.title }}
                  </a>
                </h3>
                <div class="price">
                  ${{ book.price|number_format(2) }}
                </div>
                <a class="add-to-cart text-decoration-none btn {{
                  app.session.get('cart')[book.id] is defined
                    ? 'btn-outline-primary'
                    : 'btn-primary'
                  }}"
                  href="{{
                  app.session.get('cart')[book.id] is defined
                    ? path('cart')
                    : path(
                      'cart_increase_quantity',
                      {
                        id: book.id
                      }
                    )
                  }}">
                  {{ app.session.get('cart')[book.id] is defined
                    ? 'In Cart'
                    : 'Add to Cart' }}
                </a>
              </div>
            </div>
          </div>
        {% endfor %}
        <div class="d-flex justify-content-center">
          {% do books.setPageRange(2) %}
          {{ knp_pagination_render(books, '/pagination.html.twig') }}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
