{% extends 'base.html.twig' %}

{% block title %}
  Blog Post List
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('blog') }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('blog') }}
{% endblock %}

{% block body %}
  <section class="light">
    <div class="container py-2">
      <div class="h1 text-center text-dark" id="pageHeaderTitle">
        Blog Post List
      </div>
      {% set card_color = ['blue', 'red', 'green', 'yellow'] %}
      {% for idx, post in blogPosts %}
        <article class="postcard light {{ card_color[idx] }}">
          <a class="postcard__img_link" href="/blog/{{ post.id }}">
            <img class="postcard__img"
              src="/images/blog/{{ post.imageName }}"
              alt="Image Title" />
          </a>
          <div class="postcard__text t-dark">
            <h1 class="postcard__title {{ card_color[idx] }}">
              <a href="/blog/{{ post.id }}">{{ post.title }}</a>
            </h1>
            <div class="postcard__subtitle small">
              <time datetime="2020-05-25 12:00:00">
                <i class="bi bi-calendar2-week-fill mr-2"></i>
                Posted in {{ post.createdAt|date('F d, Y') }}
              </time>
            </div>
            <div class="postcard__bar"></div>
            <div class="postcard__preview-txt">
              {{ (post.content|slice(0, 350)) ~ '...' }}
            </div>
            <ul class="postcard__tagbox">
              <li class="tag__item"><i class="bi bi-tag-fill mr-2"></i>News</li>
              <li class="tag__item play {{ card_color[idx] }}">
                <a href="#"><i class="bi bi-tag-fill mr-2"></i>Blog Post</a>
              </li>
            </ul>
          </div>
        </article>
      {% endfor %}
      <div class="d-flex justify-content-center">
        {% do blogPosts.setPageRange(2) %}
        {{ knp_pagination_render(blogPosts, '/pagination.html.twig') }}
      </div>
    </div>
  </section>
{% endblock %}
